/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

/* Callout Blocks */
.cm-line+.cm-callout {
    padding-top: 1.2rem !important;
}

.callout[data-callout="description"] {
    --callout-color: var(--color-cyan-rgb);
    --callout-icon: lucide-book-text;
    font-style: italic;
}

.callout[data-callout="quote"] {
    --callout-color: 138, 116, 90;
    --callout-icon: lucide-message-square-quote;
    font-style: italic;
}

.callout[data-callout="readout"] {
    --callout-color: var(--color-cyan-rgb);
    --callout-icon: lucide-book-text;
    font-style: italic;
}

.callout[data-callout="ideas"] {
    --callout-color: var(--color-purple-rgb);
    --callout-icon: lucide-pen-tool;
}

.callout[data-callout="building"] {
    --callout-color: var(--color-blue-rgb);
    --callout-icon: lucide-castle;
}

.callout[data-callout="business"] {
    --callout-color: var(--color-pink-rgb);
    --callout-icon: lucide-circle-dollar-sign;
}

.callout[data-callout="item"] {
    --callout-color: var(--color-green-rgb);
    --callout-icon: lucide-gem;
}

.callout[data-callout="god"] {
    --callout-color: var(--color-orange-rgb);
    --callout-icon: lucide-church;
}

.callout[data-callout="creature"] {
    --callout-color: var(--color-yellow-rgb);
    --callout-icon: lucide-paw-print;
}

.callout[data-callout="dm-note"] {
    --callout-color: var(--color-yellow-rgb);
    --callout-icon: lucide-pen-tool;
}

.callout[data-callout="encounter"] {
    --callout-color: var(--color-blue-rgb);
    --callout-icon: lucide-swords;
}

.callout[data-callout="tavern"] {
    --callout-color: var(--color-pink-rgb);
    --callout-icon: lucide-beer;
}

@media (prefers-color-scheme: dark) {
    .callout[data-callout="settlement"] {
        --callout-color: var(--color-) --callout-icon: lucide-user;
    }

    .callout[data-callout="quest"] {
        --callout-color: 138, 116, 90;
        --callout-icon: lucide-scroll;
    }
}

@media (prefers-color-scheme: light) {
    .callout[data-callout="settlement"] {
        --callout-color: 150, 150, 150;
        --callout-icon: lucide-user;
    }

    .callout[data-callout="quest"] {
        --callout-color: 138, 116, 90;
        --callout-icon: lucide-scroll;
    }
}

/* Statblock CSS */

.dm-tools-statblock {
    padding: 1em;
    font-size: var(--text-small);
}

.dm-tools-statblock-inner {
    background-color: var(--background-primary-alt);
    box-shadow: 2px 2px 8px var(--color-base-30);
    border-radius: 8px;
    padding: 4px 16px;
}

.dm-tools-statblock-title-header {
    font-size: 1.2em !important;
    font-weight: bold;
}

.dm-tools-statblock-ability-section-header {
    font-weight: bold;
}

.dm-tools-statblock-type-alignment {
    font-style: italic;
}

.dm-tools-statblock-entry-title {
    font-weight: bold;
}

.dm-tools-statblock-subentry-title {
    font-weight: bold;
    font-style: italic;
}

.dm-tools-statblock-section {
    padding: 8px 0;
}

/* Ability Score Grid */
.dm-tools-statblock-abilityscores-table {
    display: grid;
    grid-template-columns: auto auto;
    /* border-top: 1px solid black;
    border-bottom: 1px solid black; */
    margin: 0 0 1em 0;
}

.dm-tools-statblock-abilityscores-physical {
    --dm-tools-modifier-color: var(--color-yellow-rgb);
}

.dm-tools-statblock-abilityscores-mental {
    --dm-tools-modifier-color: var(--color-green-rgb);
}

.dm-tools-statblock-abilityscores-modifier-group {
    display: grid;
    grid-template-rows: repeat(4, minmax(0, 1fr));
}

.dm-tools-statblock-abilityscores-table-row {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    background-color: rgba(var(--dm-tools-modifier-color), 0.1);
    border-bottom: 1px solid rgba(var(--dm-tools-modifier-color), 0.3);
}

.dm-tools-statblock-abilityscores-table-row:first-child {
    background-color: transparent;
}

.dm-tools-statblock-abilityscores-table-cell {
    text-align: center;
}

.dm-tools-statblock-abilityscores-modifier-group-label {
    color: var(--color-base-50);
}

.dm-tools-statblock-abilityscores-table-header-cell {
    font-weight: bold;
}

dm-tools-statblock-abilityscores-table-row > .dm-tools-statblock-abilityscores-table-save-cell {
    background-color: rgba(var(--dm-tools-modifier-color), 0.2) !important;
}

dm-tools-statblock-abilityscores-table-row > .dm-tools-statblock-abilityscores-table-modifier-cell {
    background-color: rgba(var(--dm-tools-modifier-color), 0.2) !important;
}